@page
@model MainApp.Pages.Seller.AdUpdateModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<section class="py-5 bg-dark">
    <div class="container mt-5">
        <div class=" row justify-content-center ">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Create New Ad</h3>
                    </div>
                    <div class="card-body">
       
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.Title" class="form-label">Title</label>
                                <input asp-for="UpdateAd.Title" class="form-control" placeholder="e.g. Iphone 101" />
                                <span asp-validation-for="UpdateAd.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.Description" class="form-label">Description</label>
                                <input asp-for="UpdateAd.Description" class="form-control" />
                                <span asp-validation-for="UpdateAd.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.Place" class="form-label">Place </label>
                                <input asp-for="UpdateAd.Place" class="form-control" placeholder="e.g. Stockholm" />
                                <span asp-validation-for="UpdateAd.Place" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.Place" class="form-label">Starting Price</label>
                                <input asp-for="UpdateAd.Place" class="form-control" type="number" />
                                <span asp-validation-for="UpdateAd.Place" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateImages[0].Url" class="form-label">Url</label>
                                <input asp-for="UpdateImages[0].Url" class="form-control" placeholder="e.g. IPhone jpeg" />
                                <span asp-validation-for="UpdateImages[0].Url" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateImages[0].Description" class="form-label">Image Description</label>
                                <input asp-for="UpdateImages[0].Description" class="form-control" />
                                <span asp-validation-for="UpdateImages[0].Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.StartDate" class="form-label">Start Date</label>
                                <input asp-for="UpdateAd.StartDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                                <span asp-validation-for="UpdateAd.StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="UpdateAd.EndDate" class="form-label">End Date</label>
                                <input asp-for="UpdateAd.EndDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                                <span asp-validation-for="UpdateAd.EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                   
                                <input type="hidden" asp-for="UpdateAd.SellerId" class="form-control" />
                                <span asp-validation-for="UpdateAd.SellerId" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success">Update Ad</button>
                                <button asp-page-handler="Delete" class="btn btn-danger">Delete Ad</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>